<div>
  <form action="/new" method="post">
    <div>
      <div>
        <p>
          name：<input type="text" name="person_name">
        </p>
        <p>
          characteristic：<input type="text" name="characteristic">
        </p>
        <p>
          make up summary：<input type="text" name="summary">
        </p>
        <p>
          procedure：<input type="text" name="body">
        </p>
      </div>
      <div>
        <input type="submit" value="投稿">
      </div>
    </div>
  </form>
<div>