<body>
  <div class="card col-lg-6 mx-auto mt-5 content card-color">
    <div class="card-body">
      <h1 class="new">New Post</h1>
      <form action="/new" method="post" enctype="multipart/form-data">
        <p class="name">name：<input type="text" name="person_name" class="form-control" placeholder="芸能人の名前"></p>
        <p class="name">characteristic：<input type="text" name="characteristic" class="form-control" placeholder="顔のパーツの特徴（例）#二重"></p>
        <p class="name">point：<input type="text" name="summary" class="form-control" placeholder="メイクのポイント"></p>
        <p class="name">procedure：<textarea name="body" cols="40" row="10" class="form-control" placeholder="メイクの手順"></textarea></p>
        <p>
          <input type="file" name="file" class="form-control-file">
        </p>
        <span><input type="submit" value="&#xf1d8;" class="btn float-right like"></span>
      </form>
    </div>
  </div>
</body>