<body>
  <div class="card col-lg-6 mx-auto mt-5">
    <div class="card-body">
      <h1>Search</h1>
      <form action="/search" method="post">
        <p>name:<input type="text" name="person" class="form-control"></p>
        <p><input type="submit" value="検索" class="btn btn-dark float-right"></p>
      </form>
    </div>
  </div>
</body>