<body>
  <div class="card col-md-6 mx-auto mt-5 content card-color">
    <div class="card-body">
      <h1 class="search">Search</h1>
      <form action="/search" method="post">
        <p class="name">name:<input type="text" name="person" class="form-control" placeholder="芸能人の名前"></p>
        <p><input type="submit" value="search" class="btn btn-dark float-right saerch" style="background-color: #ff9d76; border-color: #ff9d76;"></p>
      </form>
    </div>
  </div>
</body>