<div class="container-fluid">
  <div class="row d-flex justify-content-center">
  <div class="col-lg-6 mb-4 mx-4">
  <div class="m-5 process"><a href="/signin">signin</a></div>
  <div class="m-5 process"><a href="/signup">signup</a></div>
  </div>
  </div>
</div>