<div>
  <form action="/signin" method="post">
      <div>
        <input type="text" name="name" placeholder="name">
      </div>
      <div>
        <input type="password" name="password" placeholder="password">
      </div>
      <div>
        <input type="submit" value="log in">
      </div>
  </form>
</div>