<form action="/signup" method="post">
  <input type="text" name="name" placeholder="name"><br>
  <input type="password" name="password" placeholder="password"><br>
  <input type="password" name="password_confirmation" placeholder="password confirmation"><br>
  <input type="submit" value="sign up">
</form>