<div>
  <form action="/signup" method="post">
    <div>
      <div>
        <input name="name" placeholder="name"><br>
        <input name="password" placeholder="password"><br>
        <input name="password_confirmation" placeholder="password confirmation"><br>
      </div>
      <div>
        <input type="submit" value="sign up">
      </div>
    </div>
  </form>
</div>