<div>
  <form action="/signin" method="post">
    <div>
      <div>
        <input type="text" name="name" placeholder="name"><br>
        <input type="password" name="password" placeholder="password"><br>
      </div>
      <div>
        <input type="submit" value="log in">
      </div>
    </div>
  </form>
</div>