  <div class="position-absolute w-100 mt-5 d-flex align-items-center justify-content-center">
    <div class="row d-flex align-items-center justify-content-center">
      <form action="/signin" method="post">
        <p><input type="text" name="name" placeholder="name"></p>
        <p><input type="password" name="password" placeholder="password"><p>
        <p><input type="submit" value="sign in" class="btn login"></p>
      </form>
    </div>
  </div>